# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = connection.cursor()

## Display the names of all the employees in Boston.

In [6]:
cur.execute('''SELECT firstName, lastName FROM employees join offices using(officeCode) where city = "Boston";''')
cur.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

In [ ]:
#Your code here

## Do any offices have no employees?

In [8]:
cur.execute('''SELECT city, count(*) FROM offices left join employees using(officeCode) group by 1;''')
cur.fetchall()

[('Boston', 2),
 ('London', 2),
 ('NYC', 2),
 ('Paris', 5),
 ('San Francisco', 6),
 ('Sydney', 4),
 ('Tokyo', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [11]:
cur.execute('''SELECT COUNT(*) FROM payments GROUP BY customerNumber;''')
cur.fetchall()

[(3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (9,),
 (4,),
 (3,),
 (3,),
 (13,),
 (2,),
 (4,),
 (3,),
 (4,),
 (4,),
 (2,),
 (4,),
 (3,),
 (2,),
 (2,),
 (3,),
 (2,),
 (3,),
 (2,),
 (3,),
 (3,),
 (3,),
 (2,),
 (3,),
 (2,),
 (2,),
 (2,),
 (3,),
 (3,),
 (1,),
 (3,),
 (2,),
 (2,),
 (3,),
 (1,),
 (2,),
 (3,),
 (2,),
 (3,),
 (2,),
 (2,),
 (2,),
 (4,),
 (3,),
 (3,),
 (2,),
 (2,),
 (2,),
 (3,),
 (2,),
 (2,),
 (3,),
 (2,),
 (4,),
 (3,),
 (2,),
 (3,),
 (3,),
 (2,),
 (2,),
 (2,),
 (3,),
 (4,),
 (2,),
 (2,),
 (3,),
 (3,),
 (4,),
 (3,),
 (3,),
 (2,),
 (4,),
 (3,),
 (2,),
 (1,),
 (3,),
 (3,),
 (2,),
 (1,),
 (3,),
 (2,),
 (2,),
 (3,),
 (3,),
 (2,),
 (2,),
 (2,),
 (2,),
 (3,),
 (2,),
 (2,),
 (2,),
 (3,)]

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [12]:
cur.execute("""select firstName, lastName,
                      productName
                      from employees e
                      join
                      customers c
                      on e.employeeNumber = c.salesRepEmployeeNumber
                      join orders o
                      using(customerNumber)
                      join orderdetails od
                      using(orderNumber)
                      join products p
                      using(productCode)""")
df = pd.DataFrame(cur.fetchall())
print(len(df))
df.head()

2996

        0         1                                            2
0  Leslie  Jennings                               1958 Setra Bus
1  Leslie  Jennings                       1940 Ford Pickup Truck
2  Leslie  Jennings                      1939 Cadillac Limousine
3  Leslie  Jennings  1996 Peterbilt 379 Stake Bed with Outrigger
4  Leslie  Jennings                            1968 Ford Mustang

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!